{% extends 'base.html' %}
{% block titulo %} Siova: Catalogador {% endblock %}
{% block itemMenu %}
	{% if usuario.profile.rol = 'rcat' %}
		<li><a class="menusbtn" href="/proyecto">Proyectos</a></li>
	{% endif %}
{% endblock %}
{% block itemMenuUs %}
    <li class="menusubtn">Bienvenido/a, {{usuario.first_name|capfirst}}&nbsp&nbsp</li>
    <li><a class="menusubtn" href="/cerrar">Salir</a></li> {% endblock %}
{% block itemNav %}<li><a href="/">Inicio</a></li>{% endblock %}
{% block contenidoIzq %}
    <div class="submenu_" id="busq2">Area de conocimiento</div>
    <p>Relacione el proyecto con los diferentes componentes:</p>
    <form id="formulario" method="post" action="">{% csrf_token %}
    <ul>
        {% for f in factor %}
            <li>{{f.factor}}
                <ul>
                    {% if lenunciado%}
                        {% for e in lenunciado %}
                            {% if e.factor == f %}
                                <li>{{e}}
                                    <ul>
                                    <p>Grados Primero, segundo y Tercero</p>
                                    {% for ind in lindicadores1%}
                                        {% if ind.enunciado == e%}
                                            <li>
                                                <p>
                                                    <input type="checkbox" id="ind_{{ind.pk}}" name="ind_{{ind.pk}}" value="{{ind.pk}}">
                                                    <label for="ind_{{ind.pk}}">{{ind}}</label>
                                                </p>
                                            </li>
                                        {% endif %}
                                    {%endfor%}
                                    <p>Grados Cuarto y Quinto</p>
                                    {% for ind in lindicadores2%}
                                        {% if ind.enunciado == e%}
                                            <li><p>
                                                    <input type="checkbox" id="ind_{{ind.pk}}" name="ind_{{ind.pk}}" value="{{ind.pk}}">
                                                    <label for="ind_{{ind.pk}}">{{ind}}</label>
                                                </p>
                                            </li>
                                        {% endif %}
                                    {%endfor%}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <ul>
                            <p>Grados Primero, segundo y Tercero</p>
                            {% for ind in lindicadores1%}
                                {% if ind.factor == f%}
                                   <li>
                                       <p>
                                            <input type="checkbox" id="ind_{{ind.pk}}" name="ind_{{ind.pk}}" value="{{ind.pk}}">
                                            <label for="ind_{{ind.pk}}">{{ind}}</label>
                                        </p>
                                    </li>
                                {% endif %}
                            {%endfor%}
                            <p>Grados Cuarto y Quinto</p>
                            {% for ind in lindicadores2%}
                                {% if ind.factor == f%}
                                    <li>
                                        <p>
                                            <input type="checkbox" id="ind_{{ind.pk}}" name="ind_{{ind.pk}}" value="{{ind.pk}}">
                                            <label for="ind_{{ind.pk}}">{{ind}}</label>
                                        </p>
                                    </li>
                                {% endif %}
                            {%endfor%}
                        </ul>
                    {% endif %}
                </ul>                                  
            </li>
        {% endfor %}
    </ul>
    <div id="contenidosm3">
        <input class="menusbtn" id="asociar" type="submit" value="Asociar">
        <div id="results">
            <ul id="results1">
            </ul>
        </div>
    </div>
    </form>
{% endblock %}
 {% block contenidoDer %}
 <ul>
    {% for o in l_oind %}        
        <li>
            {{o}} 
        </li>
    {% endfor %}
    <hr>
   {% for l in l_errores %}        
     <li>
        {{l}} 
     </li>
    {% endfor %}
</ul>
{% endblock %}

